main {
    width: ;
}

section {
    border: 1px solid #ececec;
}

#orange {
    background-color: #F8981D;
}

#yellow {
    background-color: #F9CE1E;
}

#blue {
    background-color: #44B3E6;
}

#green {
    background-color: #4DAF4E;
}

#grey {
    background-color: #F0F0F2;
}

#red {
    background-color: #EF4438;
}

